<h1>University Registrar</h1>

<h3>Students</h3>
<ul>
  @if (Model["students"].Count != 0)
  {
    @foreach (var student in Model["students"])
    {
      <li><a href="/students/@student.GetId()">@student.GetName()</a></li>
    }
  }
  else
  {
    <li>No students yet.</li>
  }
</ul>
<a href="/students/new">Add a new student</a>
<a href="/students/all/delete">Delete all students</a>

<h3>Courses</h3>
<ul>
  @if (Model["courses"].Count != 0)
  {
    @foreach (var course in Model["courses"])
    {
      <li><a href="/courses/@course.GetId()">@course.GetName()</a></li>
    }
  }
  else
  {
    <li>No students yet.</li>
  }
</ul>
<a href="/courses/new">Add a new course</a>
<a href="/courses/all/delete">Delete all courses</a>
