<h1>University Registrar</h1>

<form action="/students/new" method="post">

  <label for="student-name">Student Name</label>
  <input name="student-name" required>

  <label for="student-enrollment">Student Enrollment Date</label>
  <input name="student-enrollment" required>

  <button type="submit">Submit</button>
</form>
